.menu__container {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    min-width: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(189, 189, 189);
    border-radius: 8px;
}

.menu__card__container {
    border-radius: 16px;
    margin: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(167deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.5914740896358543) 100%);
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 15px 15px 15px;
    transition: 0.2s;
}

.menu__card__container:hover {
    transform: scale(105%);
}



.menu__card__name-title {
    font-size: 25px;
    color: #180404;
}

.menu__card__price-number {
    font-size: 17px;
    color: #180404;
}

.menu__card__img-pic {
    min-width: 150px;
    max-width: 230px;
    border-radius: 15px;
}

.menu__card__size {
    margin: 5px 0 5px 0;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__card__size-btn {
    border: none;
    border-radius: 8px;
    width: 10vw;
    height: 7vh;
    transition: 0.2s;
}

.menu__card__size-btn:hover, .menu__card__size-btn:active, .menu__card__size-btn:focus {
    transform: scale(110%);
}

.menu__card__amount {
    margin: 5px 0 5px 0;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    background: rgb(245, 245, 245);
}

.menu__card__amount-btn {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.2s;
}

.menu__card__amount-btn:hover, .menu__card__amount-btn:active {
    background: #c2c0c0;
}